.image-container {
    position: relative;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
}

.profil{
    border-radius: 50%;
}

.image-wrapper {
    position: absolute;
   
}

.aligned-image {
    /* Adjust the size of the second image */
    width: auto;
    height: auto;
}